body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; 
    min-height: 100vh; 

}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%; 
    max-width: 400px; 
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.search {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    align-items: center;
}

#city-input {
    padding: 10px;
    width: 100%; 
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-btn {
    padding: 10px 20px;
    background-color: #3482d6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    max-width: 200px;
}

#search-btn:hover {
    background-color: #0056b3;
}

#weather-info {
    margin-top: 20px;
}

.weather-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.9;
    transition: opacity 0.5s ease;
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        min-height: 100vh;
        padding: 20px;
    }
    .container {
        width: 95%;
        margin-top: auto;
        margin-bottom: auto;
    }
}
